#wrap {
    --sim-background-color: #5C406C !important;
    --sim-button-stroke: #412D4D !important;
    --sim-text-color: #FFEFE9 !important;
    --sim-button-fill: #251D2A !important;
    --sim-dpad-fill: #A4839F !important;
}